{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <a class="navbar-brand" href="{% url 'index' %}">Ecomerce</a>
  <span class="navbar-text">
    {% if request.user.is_authenticated%}
      Welcome, {{user.username}} | <a href="{% url 'logout' %}">Logout</a>
    {% else %}
      <a href="{% url 'register' %}">Register</a>  |  <a href="{% url 'login' %}">Login  </a>
    {% endif %}
    </span>
    <div class="info">
      <span class="navbar-text ">
          <a href="tel:+380970039685"> +380 00 000 00 00</a>  |   <a href="mailto:illjahomenko@gmail.com">exsample@gmail.com</a>
      </span>
</nav>
